crypto-trader-ui/node_modules/*
crypto-trader-server/.idea/*
crypto-trader-server/target/trader-0.0.1-SNAPSHOT.jar
crypto-trader-server/target/trader-0.0.1-SNAPSHOT.jar.original
crypto-trader-server/target/classes/application.properties
crypto-trader-server/target/classes/data.sql
crypto-trader-server/target/classes/META-INF/trader.kotlin_module
crypto-trader-server/target/classes/com/ltusso/trader/TraderApplication.class
crypto-trader-server/target/classes/com/ltusso/trader/TraderApplicationKt.class
crypto-trader-server/target/classes/com/ltusso/trader/coins/model/Coin.class
crypto-trader-server/target/classes/com/ltusso/trader/coins/repository/CoinRepository.class
crypto-trader-server/target/classes/com/ltusso/trader/coins/service/CoinService.class
crypto-trader-server/target/classes/com/ltusso/trader/coins/web/controller/CoinController.class
crypto-trader-server/target/classes/com/ltusso/trader/coins/web/controller/CoinController$getAllCryptos$1.class
crypto-trader-server/target/classes/com/ltusso/trader/coins/web/dto/CryptoDTO.class
crypto-trader-server/target/classes/com/ltusso/trader/configuration/TraderConfiguration.class
crypto-trader-server/target/classes/com/ltusso/trader/customer/model/Customer.class
crypto-trader-server/target/classes/com/ltusso/trader/customer/model/CustomerAsset.class
crypto-trader-server/target/classes/com/ltusso/trader/customer/repository/CustomerRepository.class
crypto-trader-server/target/classes/com/ltusso/trader/customer/service/CustomerService.class
crypto-trader-server/target/classes/com/ltusso/trader/customer/web/CustomerAssetDTO.class
crypto-trader-server/target/classes/com/ltusso/trader/customer/web/CustomerController.class
crypto-trader-server/target/classes/com/ltusso/trader/customer/web/CustomerDTO.class
crypto-trader-server/target/classes/com/ltusso/trader/integration/ProviderDataLoader.class
crypto-trader-server/target/classes/com/ltusso/trader/integration/coingecko/CoingeckoApi.class
crypto-trader-server/target/classes/com/ltusso/trader/integration/coingecko/CoingeckoApi$getCryptoList$responseType$1.class
crypto-trader-server/target/classes/com/ltusso/trader/integration/coingecko/CoingeckoCrypto.class
crypto-trader-server/target/classes/com/ltusso/trader/integration/coingecko/CoingeckoDataLoader.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/purchase/model/Purchase.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/purchase/model/PurchaseInformation.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/purchase/repository/PurchaseRepository.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/purchase/repository/SumarizedPurchase.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/purchase/service/PurchaseService.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/purchase/web/PurchaseController.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/purchase/web/PurchaseDTO.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/sale/model/Sale.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/sale/model/SaleInformation.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/sale/repository/SaleRepository.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/sale/service/SaleService.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/sale/web/SaleController.class
crypto-trader-server/target/classes/com/ltusso/trader/transaction/sale/web/SaleDTO.class
crypto-trader-server/target/maven-archiver/pom.properties
crypto-trader-server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
crypto-trader-server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
crypto-trader-server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
crypto-trader-server/target/surefire-reports/com.ltusso.trader.TraderApplicationTests.txt
crypto-trader-server/target/surefire-reports/TEST-com.ltusso.trader.TraderApplicationTests.xml
crypto-trader-server/target/test-classes/META-INF/trader.kotlin_module
crypto-trader-server/target/test-classes/com/ltusso/trader/TraderApplicationTests.class
